In [ ]:
# Clone repo into Colab
!git clone https://github.com/yuechen06/MSSP6070.git
%cd MSSP6070

# Verify the Week 05 files can be access
import os, pathlib
path = pathlib.Path('data') / 'Week 05 Examples'
os.listdir(path)

Cloning into 'MSSP6070'...
remote: Enumerating objects: 76, done.
remote: Counting objects: 100% (76/76), done.
remote: Compressing objects: 100% (56/56), done.
remote: Total 76 (delta 45), reused 29 (delta 16), pack-reused 0 (from 0)
Receiving objects: 100% (76/76), 588.50 KiB | 3.25 MiB/s, done.
Resolving deltas: 100% (45/45), done.
/content/MSSP6070

['amzn.csv', 'fb.csv', 'aapl.csv', 'nflx.csv', 'goog.csv']

In [ ]:
import pandas as pd
from pathlib import Path

# Paths
DATA_DIR = Path('data') / 'Week 05 Examples'
OUT_DIR = Path('data')
OUT_DIR.mkdir(exist_ok=True)

# The five files present in your repo
csvs = ['aapl.csv', 'amzn.csv', 'nflx.csv', 'fb.csv', 'goog.csv']

In [ ]:
dfs = []

for fname in csvs:
    fp = DATA_DIR / fname
    df = pd.read_csv(fp)

    # normalize column names to lowercase to avoid mismatches later
    df.columns = df.columns.str.lower()

    # add ticker from file name (e.g., aapl.csv -> AAPL)
    df['ticker'] = fname.split('.')[0].upper()
    dfs.append(df)

# Append all into a single dataframe
faanf = pd.concat(dfs, ignore_index=True)

# Quick sanity check
print(faanf.shape)
faanf.head()

(1255, 7)

         date      open      high       low     close    volume ticker
0  2018-01-02  166.9271  169.0264  166.0442  168.9872  25555934   AAPL
1  2018-01-03  169.2521  171.2337  168.6929  168.9578  29517899   AAPL
2  2018-01-04  169.2619  170.1742  168.8106  169.7426  22434597   AAPL
3  2018-01-05  170.1448  172.0381  169.7622  171.6751  23660018   AAPL
4  2018-01-08  171.0375  172.2736  170.6255  171.0375  20567766   AAPL

In [ ]:
#2e:
faanf_path = OUT_DIR / 'faanf.csv'
faanf.to_csv(faanf_path, index=False)


fanng_path = OUT_DIR / 'fanng.csv'
faanf.to_csv(fanng_path, index=False)

faanf_path, fanng_path

(PosixPath('data/faanf.csv'), PosixPath('data/fanng.csv'))

In [ ]:
#2f
f = pd.read_csv(fanng_path)

# Convert 'date' to datetime (coerce invalids to NaT)
f['date'] = pd.to_datetime(f['date'], errors='coerce')

# Ensure 'volume' is integer
f['volume'] = pd.to_numeric(f['volume'], errors='coerce')

# Drop rows where date/volume could not be parsed
f = f.dropna(subset=['date', 'volume']).copy()
f['volume'] = f['volume'].astype(int)

# Sort
f = f.sort_values(['date', 'ticker']).reset_index(drop=True)

# Save a clean/sorted version (useful later)
sorted_path = OUT_DIR / 'faanf_sorted.csv'
f.to_csv(sorted_path, index=False)

sorted_path, f.head()

(PosixPath('data/faanf_sorted.csv'),
         date       open       high        low      close    volume ticker
 0 2018-01-02   166.9271   169.0264   166.0442   168.9872  25555934   AAPL
 1 2018-01-02  1172.0000  1190.0000  1170.5100  1189.0100   2694494   AMZN
 2 2018-01-02   177.6800   181.5800   177.5500   181.4200  18151903     FB
 3 2018-01-02  1048.3400  1066.9400  1045.2300  1065.0000   1237564   GOOG
 4 2018-01-02   196.1000   201.6500   195.4200   201.0700  10966889   NFLX)

In [ ]:
#2g:
top7 = f.nlargest(7, 'volume')
top7_path = OUT_DIR / 'highest_volume_top7.csv'
top7.to_csv(top7_path, index=False)

top7_path, top7

(PosixPath('data/highest_volume_top7.csv'),
            date      open      high       low     close     volume ticker
 712  2018-07-26  174.8900  180.1300  173.7500  176.2600  169803668     FB
 267  2018-03-20  167.4700  170.2000  161.9500  168.1500  129851768     FB
 287  2018-03-26  160.8200  161.1000  149.0200  160.0600  126116634     FB
 272  2018-03-21  164.8000  173.4000  163.3000  169.3900  106598834     FB
 910  2018-09-21  219.0727  219.6482  215.6097  215.9768   96246748   AAPL
 1225 2018-12-21  156.1901  157.4845  148.9909  150.0862   95744384   AAPL
 1060 2018-11-02  207.9295  211.9978  203.8414  205.8755   91328654   AAPL)

In [ ]:
#2h:
melted = f.melt(
    id_vars=['date', 'ticker'],
    var_name='variable',
    value_name='value'
)
melted_path = OUT_DIR / 'faanf_melted.csv'
melted.to_csv(melted_path, index=False)

melted_path, melted.head(10)

(PosixPath('data/faanf_melted.csv'),
         date ticker variable      value
 0 2018-01-02   AAPL     open   166.9271
 1 2018-01-02   AMZN     open  1172.0000
 2 2018-01-02     FB     open   177.6800
 3 2018-01-02   GOOG     open  1048.3400
 4 2018-01-02   NFLX     open   196.1000
 5 2018-01-03   AAPL     open   169.2521
 6 2018-01-03   AMZN     open  1188.3000
 7 2018-01-03     FB     open   181.8800
 8 2018-01-03   GOOG     open  1064.3100
 9 2018-01-03   NFLX     open   202.0500)